.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #001f3f; /* Azul muy oscuro */
  color: white;
}

.CardContainer {
  background-color: #003366; /* Azul oscuro */
  border-radius: 8px;
  width: 30%;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.CardContainerForm {
  background-color: #003366; /* Azul oscuro */
  border-radius: 8px;
  width: 30%;
  margin: 10px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.cardHeaderFooter {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-body {
  margin: 10px 0;
  
}

.card-footer {
  font-size: 0.9rem;
  color: #b0c4de; /* Azul claro para el texto secundario */
}

.btn-primary {
  background-color: #007bff; /* Azul para el botón */
  border: none;
}
.comentarioFooter{
  color: rgb(221, 197, 197);
}
.comment-section {
  flex: 1; /* Para que ocupe el espacio restante */
  background-color: #002147; /* Fondo oscuro para la sección de comentarios */
  padding: 15px;
  border-radius: 8px;
}

.textareaFooter {

  color: white;
  border: 1px solid #ccc;
  border-radius: 4px; /* Bordes redondeados */
  width: 100%; /* Para que ocupe todo el ancho */
  padding: 10px; /* Espaciado interno */
}

textarea:focus {
  border-color: #007bff; /* Bordes azules en foco */
  outline: none;
}

.form-label {
  color: #e6e6e6; /* Color claro para las etiquetas */
}

.btn-submit {
  background-color: #0056b3; /* Un azul más oscuro para el botón de envío */
  border: none;
}
